.nav-header {
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: stretch;
    background-color: #333333;
}

.nav-header > a {
    text-decoration: none;
    background-color: inherit;
    color: white;
    padding: 1rem;
    transition: all ease-in-out 0.2s;
}

.nav-header > a:hover {
    background-color: rgb(66, 62, 62);
    border-bottom: 0.3rem solid #ffffff;
  }
  

.main-container {
    margin-left: 1rem;
    margin-right: 1rem;  
}


mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
}

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
}

.selected-new-item {
    border-left: 5px solid;
    border-left-color: blue;
}

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

mat-sidenav, mat-sidenav-content {
    transition: all 500ms ease-in-out;
}