.kanban-board {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    .row{
        min-height: 500px;
        width: 100%;
        margin: 1rem;
        background-color: rgb(245, 245, 245);
    }
}

.column-title {
    text-align: center;
    font-weight: bold;
    height: 3rem;
}

.m-1 {
    margin: 1rem;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card{
    margin: 1rem;
    border-bottom: solid 1px #ccc;
    background: white;
}

.card-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
}